/* ================||ROTATE PHONE||================ */
 
@media screen and (orientation: landscape) and (max-width: 960px) {

.main-portfolio {
  padding: 11rem 1.5rem;
}
  
.about-page {
 padding: 8rem 1.5rem;
}

.projects-page {
   padding: 8rem 1.5rem;
}

.nav-menu {
    max-height: calc(100vh - var(--nav-height));
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

}

.footer {
  display: none;
}

}
 
 /* ================||TABLETS||================ */

@media screen and (min-width: 768px) {
  :root {
/* ================||COLORS||================ */
--nav-bgcolor: rgb(0, 0, 0);
--font-color: white;
--page-bgcolor:  #000d20;

/* ================||SHADOW||================ */
--text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

/* ================||SIZES||================ */
--nav-height: 70px;
--icon-logo-height: 35px;
--icon-logo-width: 35px;
--small-font-size: 14px; 
--mid-font-size: 24px;
--big-font-size: 45px;
--nav-font-size: 22px;
--nav-body-pad-top: 150px;
--font-bold: 600;
--padding-header: 0 40px;
--padding-top-info: 1.5rem;
--padding-left-right-info-main: 2rem;
--project-content-img:300px;
--project-container-mar-top: 2.5rem;
--project-condent-top-bottom-pad:0.6rem;
--buttons-pad:10px;
--promote-icons-size:50px;
--promote-icons-radius:25px;
--see-more-pad-top:50px;
}

.show-in-tablet {
  display: flex;
}

.nav-menu {
  gap: 25px;
  padding: 0;
  min-height: 28vh;
  padding: 25px 0;
}

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding: 8rem 1.5rem;
}

.projects-page {
   padding: 5rem 1.5rem;
   display: flex;
   justify-content: center;
}

.projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .icon-not-working {
    left: 295px;
    bottom: 0;
    top: 200px;
  }

.contact{
  padding: 6rem 1.5rem;
}

.content-contact{
  margin-top: 50px;
}

.form-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 25px;

}

  .buttons-form {
    margin: 0;
}

.contact-buttons {
  font-size: 18px;
}

.message-box {
  grid-column: span 2;
}

.send-wrapper {
  grid-column: span 2;
}

.send-button {
  width: 100%;
}
}


  /* ================||LAPTOPS||================ */

@media screen and (min-width: 1024px) { 

  :root { 
    --nav-height: 70px;
  }



.about-page {
  padding: 10rem 1.5rem;
}

.projects-page {
   padding: 10rem 1.5rem;
   display: flex;
   justify-content: center;
}

.contact{
  padding: 4rem 1.5rem;
}

.promote{
  padding-bottom: 20px;
}

  .nav-links {
    padding: 19px 15px;
    transition: all 0.5s ease-out;
  }

  .nav-toggle {
    display: none;
  }

  .nav-menu {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
    gap: 25px;
    background: none;
    padding: 0;
  }


.content-contact {
    width: 700px;
    padding: 70px;
  }

.links-for-hover:hover , .is-toggled{
  background-color: rgb(0, 132, 255);
}
}


  /* ================||DEKSTOPS , PC||================ */

@media screen and (min-width: 1200px) { 

  :root {
/* ================||COLORS||================ */
--nav-bgcolor: rgb(0, 0, 0);
--font-color: white;
--page-bgcolor:  #000d20;

/* ================||SHADOW||================ */
--text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

/* ================||SIZES||================ */
--nav-height: 70px;
--icon-logo-height: 45px;
--icon-logo-width: 45px;
--small-font-size: 16px; 
--mid-font-size: 30px;
--big-font-size: 80px;
--nav-font-size: 26px;
--nav-body-pad-top: 200px;
--font-bold: 600;
--padding-header: 0 60px;
--padding-top-info: 2rem;
--padding-left-right-info-main: 2.4rem;
--project-content-img:400px;
--project-container-mar-top: 2.5rem;
--project-condent-top-bottom-pad:0.6rem;
--buttons-pad:10px;
--promote-icons-size:60px;
--promote-icons-radius:30px;
--see-more-pad-top:50px;
}

.main-portfolio {
  min-height: 100svh;
}

.about-page {
  padding: 28rem 1.5rem;
}

.projects-page {
   padding: 15rem 1.5rem;
   display: flex;
   justify-content: center;
}

.contact{
  min-height: 100svh;
  padding: 0;
  padding-top: var(--nav-body-pad-top);
}

.icon-not-working {
  left: 395px;
  bottom: 0;
  top: 250px;
}

.form-contact {
  padding-top: 20px;
}

.contact-card-title {
  padding-top: 30px;
  padding-bottom: 0;
}

.about-me-p {
  width: 50ch;
  line-height: 2rem;
}




}