@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





.main-welcome-fonts,
.main-my-info,
.my-social-main,
.buttons-container{
  opacity: 0;
  animation: fadeUp 1s ease forwards;
}

.main-welcome-fonts:nth-child(1) {
  animation-delay: 0.3s;
}

.main-welcome-fonts:nth-child(2) {
  animation-delay: 1s;
}
.main-welcome-fonts:nth-child(3) {
  animation-delay: 1.5s;
}

.main-my-info {
  animation-delay: 2s;
}

.my-social-main {
  animation-delay: 2.2s;
}

.buttons-container {
  animation-delay: 2.6s;
} 

